/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #343a40;
  border-bottom: 1px solid #454d55;
  color: #ffffff;
}

.welcome {
  font-size: 18px;
  font-weight: bold;
}

/* Report View Styles */
.report-view {
  padding: 20px;
}

.repoHeading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Enrolment Status Styles */
.enrolment-status {
  padding: 20px;
  border: 1px solid #454d55;
  border-radius: 10px;
  background-color: #495057;
}

.enrollHeading {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.status-container {
  display: flex;
  justify-content: space-around;
}

.status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #343a40;
  border-radius: 10px;
  width: 150px;
  transition: transform 0.3s ease;
}

.status-card:hover {
  transform: scale(1.05);
}

.status-title {
  font-size: 18px;
  color: #ced4da;
  margin-bottom: 10px;
}

.status-count {
  font-size: 24px;
  font-weight: bold;
}

/* Enrollment Details Styles */
.enrollment-details {
  padding: 20px;
  border: 1px solid #454d55;
  border-radius: 10px;
  background-color: #495057;
}

.enrollment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.enrollment-table th,
.enrollment-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #454d55;
  color: #ffffff;
}

.enrollment-table th {
  background-color: #343a40;
  font-size: 18px;
}

.enrollment-table td {
  background-color: #495057;
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .status-container {
    flex-direction: column;
    gap: 10px;
  }

  .status-card {
    width: 100%;
  }
}
