<nav class="navbar navbar-expand-lg gaping">
    <div class="container-fluid setting">
      <a class="navbar-brand headers" href="#">
        <img src="assets/Logo.png" alt="Logo" width="52" height="52" class="d-inline-block align-text-top">
       <h1 class="heading">Trainers</h1>
      </a>
      <div class="ms-auto ">
        <!-- <button class="btn btn-link mx-2 ">
          <i class="bi bi-person-circle fs-3"></i> 
        </button> -->
        <button class="btn btn-outline-danger button" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>