<div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/manager/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manager/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manager/batches">Batches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manager/enrollment">Enrollment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manager/reports">Reports</a>
      </li>
      <!-- Add more menu items as needed -->
    </ul>
  </div>