<div class="container">
  <h2>
    <span class="small-text">Welcome {{userName}}, You are in administrator panel....!</span>
    <span class="small-text" style="float: right;">Current Date: {{ currentDate | date }}</span>
  </h2>

  <hr>

  <section style="display: flex; justify-content: space-between; align-items: center;">
    <h3><span class="small-text">Enrollment Management</span></h3>
    <input type="text" placeholder="Search Bar" [(ngModel)]="searchQuery" (input)="searchEnrollments()" style="margin-left: 10px;">
  </section>

  <hr>

  <section>
    <h3><span class="small-text">Enrollment List</span></h3>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Course Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enrollment of filteredEnrollments">
          <td>{{ enrollment.userName }}</td>
          <td>{{ enrollment.courseName }}</td>
          <td>{{ enrollment.courseDescription }}</td>
          <td>
            <button class="reject-button" (click)="rejectCourse(enrollment.id)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
