/* General styles */
.container {
    padding: 20px;
}

h2, h3 {
    margin: 0;
}

h2 span, h3 span {
    font-size: 18px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0e0a0a;
}

/* Button styles */
.reject-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.small-text {
    font-size: 20px;
}

/* Adjustments for container elements */
.container h2,
.container h3 {
    font-size: 20px;
    margin-bottom: 10px; /* Example margin adjustment */
}

.container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container h2 span,
.container h3 span {
    margin-left: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    .reject-button {
        padding: 4px 8px;
    }
}
