.full-height {
  height: calc(100vh - 56px); /* Adjust 56px to match your header height */
  /* Should match the header height */
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  background-color: black;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}