
  
  .nav-link {
    color: rgb(230, 225, 225);
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
    padding: 10px 15px;
  }
  
  .nav-link:hover, .nav-link.active {
    background-color: black;
  }